# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js build
.next/

# # Environment variables
# .env
# .env.*

# OS files
.DS_Store
Thumbs.db

# IDE/editor settings
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Databases
*.db
*.sqlite3
*.sql

# Build output
dist/
build/
out/

# Coverage
coverage/

# Misc
*.log
*.tgz

# Local files
*.local

# Ignore Mac system files
.AppleDouble
.LSOverride

# Ignore test snapshots
__snapshots__/

# Ignore public runtime files
public/runtime/